    
	<!-- 디자인 개편 JS -->
	<script th:src="@{js/lib/jquery-3.4.1.min.js}"></script>
    <script th:src="@{js/lib/jquery-ui.min.js}"></script>
    <script th:src="@{js/lib/swiper.min.js}"></script>
    <script th:src="@{js/lib/datatables.min.js}"></script>
    <script th:src="@{js/ui.js}"></script>

	<!-- amchart Resources -->
	<script th:src="@{js/amchart/core.js}"></script>
	<script th:src="@{js/amchart/charts.js}"></script>
	<script th:src="@{js/amchart/animated.js}"></script>    
    
    <!-- PNotify -->
    <script th:src="@{gentelella/vendors/pnotify/dist/pnotify.js}"></script>
    <script th:src="@{gentelella/vendors/pnotify/dist/pnotify.buttons.js}"></script>
    <script th:src="@{gentelella/vendors/pnotify/dist/pnotify.nonblock.js}"></script>
    
    
    <!-- 공통 -->
    <script th:src="@{js/common.js}"></script>
	<!-- Ajax -->
    <script th:src="@{js/ajaxApiData.js}"></script>