    
    <!-- 디자인 개편 CSS -->
    <link th:href="@{/css/lib/swiper.min.css}" rel="stylesheet">
	<link th:href="@{/css/lib/jquery-ui.css}" rel="stylesheet">
	<link th:href="@{/css/smartcity.css}" rel="stylesheet">
	<link th:href="@{/css/grid.css}" rel="stylesheet"> <!-- //디자인팀 Style -->
	<link th:href="@{/css/style.css}" rel="stylesheet"> <!-- //디자인팀 Style -->
	
	
	<!-- PNotify -->
    <link th:href="@{gentelella/vendors/pnotify/dist/pnotify.css}" rel="stylesheet">
    <link th:href="@{gentelella/vendors/pnotify/dist/pnotify.buttons.css}" rel="stylesheet">
    <link th:href="@{gentelella/vendors/pnotify/dist/pnotify.nonblock.css}" rel="stylesheet">
	

	<script th:src="@{js/lib/jquery-3.4.1.min.js}"></script>

	<!-- 추가 CSS -->
    <link th:href="@{css/style_custom.css}" rel="stylesheet">
    
    
    