<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="adminMenu">
        <ul id="adminMenuUl">
          	<li class="nav__depth1 customActive material-icons algorithmAdminActive"><a class="nav__link" href="/admin/algorithmManage">알고리즘</a></li>
          	<li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">샌드박스 관리</a></li>
          	<li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">프로젝트 관리</a></li>
          	<li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">배치 관리</a></li>
            <li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">메뉴관리</a></li>
            <li class="nav__depth1 material-icons sandboxManageAdminActive"><a class="nav__link" href="/admin/sandboxManage">샌드박스 관리</a></li>
            <li class="nav__depth1 material-icons projectManageAdminActive"><a class="nav__link" href="/admin/projectManage">프로젝트 관리</a></li>
            <li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">사용자관리</a></li>
            <li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">업체관리</a></li>
            <li class="nav__depth1 material-icons batchManageAdminActive"><a class="nav__link" href="/admin/batchManage">배치 관리</a></li>
            <li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">카테고리관리</a></li>
            <li class="nav__depth1 material-icons" style="display:none;"><a class="nav__link" href="#none">프로그램관리</a></li>
          </ul>
    </th:block>
</html>